.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus 
{
    background-color: rgb(231, 231, 231);
    color:rgb(85, 85, 85);
}

li.dropdown:hover > .dropdown-menu 
{
    display: block;
    float: left;
}

.navbar-header
{
    min-height: 100px;
}

.navbar-compare
{
    margin-top: 20px;
    padding: 15px 15px !important;
    font-size: 25px;
    float: left;
}

.navbar-data
{
    margin-top: 20px;
    padding: 15px 15px !important;
    font-size: 25px;
    float: right; 
}

.navbar-brand
{
    margin-top: 23px;
    padding: 9px 10px !important;
    font-size: 25px;
}

.dropdown-toggle
{
    margin-top: 23px;
    padding: 9px 20px !important;
    font-size: 25px;
}

.container-left
{
    margin-top: 150px;
    margin: center;
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-right
{
    margin-top: 150px;
    width: 600px;
    float: right;
    height: 540px;
    background-color: whitesmoke;
    margin-right: 150px;
}

.clear 
{
    clear: both;
}

.summary_text
{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12pt;
}

h3
{
    text-align: center;
    font-weight: bold;
}

body
{
    background-color: lightgrey;
}

img
{
    display: block;
    margin: auto;
    margin-top: 80px;
}
